* {
  --tw-prose-bullets: #ececec !important;
  --tw-prose-headings: #ececec !important;
  --tw-shadow-color: transparent !important;
}

html {
  color-scheme: dark !important;
}

nav.grid.max-h-screen.grid-cols-1 {
  background-color: #171717 !important;
}

div.prose > h2 {
  font-size: 18px !important;
}

a[href="/chat/"] {
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 6px 10px 7px 11px !important;
  border-radius: 90px !important;
  border-color: #ffffff26 !important;
}

select[class="mt-1 h-[34px] rounded-lg border border-gray-300 bg-gray-50 px-2 text-sm text-gray-900 focus:border-blue-700 focus:ring-blue-700 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"] {
  font-size: 13px !important;
  font-weight: 500 !important;
  padding: 6px 15px 7px 10px !important;
}

a[class="group flex h-10 flex-none items-center gap-2 pl-2 pr-2 text-sm text-gray-500 hover:bg-gray-100 md:rounded-xl !bg-gray-100 !text-gray-800"] {
  background-color: #363636 !important;
  color: #ececec !important;
}

a[class="group mt-auto flex h-10 flex-none items-center gap-2 pl-3 pr-2 text-sm text-gray-500 hover:bg-gray-100 max-md:order-first md:rounded-xl !bg-gray-100 !text-gray-800"], a[class="group flex h-10 flex-none items-center gap-2 pl-3 pr-2 text-sm text-gray-500 hover:bg-gray-100 md:rounded-xl !bg-gray-100 !text-gray-800"] {
  background-color: #212121 !important;
  color: #ececec !important;
}

input[type="search"] {
  padding-left: 25px !important;
} 

input[type="search"]::placeholder {
  color: #B4B4B4 !important
}

.hover\:bg-gray-100:hover {
  background-color: #ffffff26 !important;
}

div[class="flex w-full flex-row flex-nowrap"] {
  padding-top: 0px !important;
  background-image: url('https://huggingface.co/chat/huggingchat/logo.svg');
  background-size: 32px;
  background-position: left top;
  background-repeat: no-repeat;
}

div[class="mt-0.5 flex flex-col gap-1 rounded-r-xl p-3 text-sm md:bg-gradient-to-l md:from-gray-50 md:dark:from-gray-800/30"] {
  padding-left: 8px !important;
}

div[class="h-3.5 w-3.5 rounded-full bg-white shadow-sm transition-all"] {
  background-color: #ececec !important;
}

div[class="group-hover:rotate-[20deg]"], div[class="group-hover:-rotate-[20deg]"] {
  background-color: #676767 !important;
}

svg[class="text-[.6rem] sm:mr-1.5 sm:text-primary-500"], p[class="mb-3 text-gray-600 dark:text-gray-300"], .sm\:text-primary-500, span[class="max-sm:hidden"] {
  display: none !important;
}

div[class="max-sm:hidden"] {
  padding-left: 4px !important;
}

img[class="mt-5 h-3 w-3 flex-none select-none rounded-full shadow-lg"] {
  margin-top: 15px !important;
  min-height: 28px !important;
  width: auto !important;
}

img[src="https://huggingface.co/avatars/2edb18bd0206c16b433841a47f53fa8e.svg"] {
  content: url(https://huggingface.co/chat/settings/assistants/6616e5a7729f5c0a880dd8d8/avatar.jpg) !important;
}

.bg-gradient-to-t, .md\:bg-gradient-to-l, .bg-gradient-to-br {
  background-image: none !important;
}

.dark\:bg-gray-700, .bg-gray-200, .bg-white, .dark\:hover\:bg-gray-700:hover, .h-full, .bg-gray-100, .from-gray-800, .bg-gray-50, .bg-blue-500\/10, .bg-gradient-to-t {
  background-color: #212121 !important;
}

.dark\:bg-gray-700, .dark\:border-gray-800, .dark\:border-gray-500, .dark\:border-gray-800\/70 {
  border-color: #ffffff26 !important;
}

.dark\:text-gray-300, .text-base, .text-gray-800 {
  color: #ececec !important;
}

.text-left {
  color: #ececec !important;
  font-weight: 500 !important;
}

.underline {
  color: #B4B4B4 !important;
  text-decoration-line: none !important;
}

.hover\:\*\:text-gray-800>*:hover {
  color: #ececec !important;
}

.border-gray-100 {
  border-color: #212121 !important;
}

.text-gray-400\/90, .text-gray-900, .dark\:text-gray-400, .text-gray-700 {
  color: #B4B4B4 !important;
}

.px-1 {
  justify-content: center !important;
  padding-left: 15px !important;
}

.px-5 {
  padding-left: 4px !important;
}

.md\:py-8 {
  padding-top: 0px !important;
  padding-bottom: 8px !important;
}

.px-3\.5 {
  padding-left: 0px !important;
}

.pb-52 {
  padding-bottom: 8.5rem !important;
  padding-left: 5px !important;
}

.pb-4 {
  padding-bottom: 10px !important;
}

.scroll-p-3 {
  scrollbar-width: none !important;
}

.text-gray-600 {
  font-size: .9rem !important;
}

.svelte-jxi03l {
  font-weight: 500 !important;
  background-color: transparent !important;
  border-radius: 16px;
}

.svelte-jxi03l::placeholder, .text-gray-400 {
  color: #B4B4B4 !important;
}

.dark\:border-gray-600 {
  border-color: #ffffff26 !important;
  border-radius: 16px !important;
  padding: 2px 2px 3px 4px !important;
  background-color: #212121 !important;
}

.btn.flex {
  padding: 15px !important;
}

.dark\:text-white {
  padding: 8px !important;
}

.border-gray-200, .dark\:bg-gray-950\/20, .bg-blue-50, .bg-blue-500\/5 {
  border-color: #ffffff26 !important;
  background-color: #171717 !important;
}

.\!bg-gray-100 {
  background-color: #676767 !important;
}

.text-gray-600, .text-gray-500, .prose, .text-blue-600 {
  color: #ececec !important;
  font-weight: 500 !important;
  line-height: 1.8 !important;
}

.border-b {
  border: none !important;
}

.disabled {
  padding-top: 0px !important;
  padding-left: 48px !important;
  font-size: 16px !important;
}

.bg-black {
  background-color: #171717 !important;
}

button.bg-black {
  background-color: #212121 !important;
}

.peer:checked~.peer-checked\:bg-blue-600 {
  background-color: #10a37f !important;
}

:is(:where(.dark) .dark\:prose-pre\:bg-gray-900 :is(:where(pre):not(:where([class~=not-prose] *)))) {
  background-color: #0d0d0d !important;
  padding: 18px !important;
  padding-left: 1.39rem !important;
  font-size: 14.7px !important;
}

.hljs-doctag, .hljs-formula, .hljs-keyword, .hljs-literal {
  color: #2e95d3 !important;
}

.hljs-attr, .hljs-number, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-pseudo, .hljs-template-variable, .hljs-type, .hljs-variable {
  color: #df3079 !important;
}

.hljs-addition, .hljs-attribute, .hljs-meta .hljs-string, .hljs-string {
  color: #00a67d !important;
}

.hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id, .hljs-symbol, .hljs-title {
  color: #f22c3d !important;
}

.hljs-built_in, .hljs-class .hljs-title, .hljs-title.class_ {
  color: #e9950c !important;
}

.hljs-comment, .hljs-quote {
  color: #ffffff80 !important;
  font-style: normal !important;
}

.prose :where(pre code):not(:where([class~=not-prose] *)), .hljs-regexp {
  color: #FFFFFF !important;
}

img, video {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  max-width: 75% !important;
  border-radius: 8px;
}

.loading > div.animate-bounce  {
  background-color: #676767 !important;
}

.dark\:text-gray-700:is(.dark *) {
  color: #B4B4B4 !important;
}

.border-gray-300, .border-2 {
  border-color: #676767 !important;
}

.text-black {
  color: #ececec !important;
}

.rounded-full.bg-gray-200:not(a, button, .absolute) {
  background-color: #676767 !important;
}

details.rounded-xl  {
  background-color: transparent !important;
  border: none !important;
  display: block !important;
}

details.rounded-xl > div {
  background-color: transparent !important;
  border: none !important;
  border-left: 2px solid #ffffff !important;
  margin-top: 20px;
  margin-bottom: 35px;
  padding: 0px 20px !important;
}

details.rounded-xl > summary {
  grid-template-columns: 1fr 1fr !important;
  padding: 5px 0px 8px 0px!important;
  align-items: start !important;
}

details.rounded-xl > summary:hover {
  background-color: inherit !important;
}

details.rounded-xl > summary > div, details.rounded-xl > summary > dl > dd, details.rounded-xl > summary > svg {
  display: none !important;
}

details.rounded-xl > summary > dl > dt {
  font-weight: 400 !important;
  font-size: 16px !important;
  overflow: visible !important;
}

details.rounded-xl > summary > dl > dt:hover {
  color: #ececec !important
}

details.rounded-xl > summary > dl > dt::after {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(315deg);
  margin-left: 5px;
  margin-top: -2px;
}

details[open].rounded-xl > summary > dl > dt::after {
  transform: rotate(135deg);
  margin-top: 4px;
}

details.rounded-xl > div > div > pre {
  background-color: #171717 !important;
  padding: 30px !important;
}

.prose :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
  color: #7ab7ff !important;
  text-decoration: none !important;
}

.prose :where(ol>li):not(:where([class~=not-prose],[class~=not-prose] *))::marker {
  color: #FFFFFF !important;
}

.right-0.-bottom-4.flex {
  right: unset !important;
  left: 45px !important;
  margin-bottom: 15px !important;
}

.relative.py-3\.5 {
  padding-bottom: 1.6rem;
}

.top-0.justify-between.px-1\.5 {
  padding-right: 12px !important;
}

div.flex.w-full.pb-3 {
  display: none !important;
}

button.clickable {
  padding-left: 40px !important;
  padding-bottom: 8px !important;
}

textarea {
  padding: 12px !important;
  font-weight: 500 !important;
  justify-content: center !important;
}

textarea::placeholder {
  color: #B4B4B4 !important;
}

a[href="/chat/settings/assistants/new"] {
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 6px 15px 7px 10px !important;
}

.gap-8 {
  gap: 1.7rem !important;
}

.\!bg-gray-100:not(.a) {
  background-color: transparent !important;
  color: #ececec !important;
}

.\!bg-gray-100:not(.a):hover {
  background-color: #363636 !important;
}

.bg-gray-300 {
  background-color: #676767 !important;
}

.border-purple-300 {
  border-color: #9951e2 !important;
}

.text-purple-500 {
  color: #9951e2 !important;
}

.text-purple-700:not(svg) {
  color: #B4B4B4 !important;
}

.bg-purple-100 {
  background-color: #491375 !important;
}

.\!border-blue-600:not(.a) {
  border-color: #363636 !important;
}

.shadow.gap-4 {
  background-color: #212121 !important;
}

.shadow {
  overflow-y: visible !important;
  gap: 0.8rem !important
}

.line-clamp-2 {
  overflow: visible !important; /* TODO: Seriously, what is this */
}

button[type="submit"]:not(.flex) {
  border-color: #676767 !important;
  width: 2rem !important;
  height: 2rem !important;
  margin-bottom: 2px !important;
  margin-right: 4px !important;
}

/*
div.flex.w-full.pb-3 {
  background-color: transparent !important;
  z-index: -200 !important;
}

TODO:
- Fix above div (Tools + Upload files buttons)
- Web-Search tags like ChatGPT
- Consistent scrollbars (position: absolute)
- Fancy tool-calling tags
- Clean up code
- White theme?
*/